<!-- Masthead -->
  <div id="masthead" class="culture">  
    <div class="vac ">
       <div class="va">
         <div class="top_bg">
           <img src="{{ 'recipes-fire-ico.png' | asset_url }}" alt="">
           <h1 class="ten_border_1">{{ page.title }}</h1>
           <img src="{{ 'cookitup.png' | asset_url }}" alt="McClure's Pickle's Cook It Up!">
           <div class="social icon__strocke">
             <a href="{{ settings.facebook_url }}" target="_blank" title="Facebook" aria-label="Facebook" aria-labelledby="Facebook" role="link" description="Facebook" name="Facebook" value="Facebook"><span class="hidden_text">Facebook</span><i class="fa fa-facebook"></i></a>
             <a href="{{ settings.twitter_url }}" target="_blank" title="Twitter" aria-label="Twitter" aria-labelledby="Twitter" role="link" description="Twitter" name="Twitter" value="Twitter"><span class="hidden_text">Twitter</span><i class="fa fa-twitter" ></i></a>
             <a href="{{ settings.instagram_url }}" target="_blank" title="Instagram" aria-label="Instagram" aria-labelledby="Instagram" role="link" description="Instagram" value="Instagram" name="Instagram"><span class="hidden_text">Instagram</span><i class="fa fa-instagram"></i></a>
           </div>
         </div>
       </div>
    </div>
  </div>
  
  <div id="cart-subnav">
     <div class="row">
        <div class="small-12 columns small-centered">
           <div class="vac">
              <div class="va">
                  <p>
                    <a href="#roots" class="scroll_to" data-inline_link="roots">Rooted Beginnings</a>    -   
                    <a href="#fresh" class="scroll_to" data-inline_link="fresh"> Keeping It Fresh</a>    -   
                    <a href="#video" class="scroll_to" data-inline_link="video"> The McClure's</a>    -   
                    <a href="#people" class="scroll_to" data-inline_link="people"> Our People</a></p>
              </div>
           </div>
        </div>
     </div>
  </div>
  
  <hr class="double">
  
  <div id="culture-container">
     <div id="roots">
        <div class="row">
           <div class="small-11 medium-6 columns small-centerd medium-uncentered">
              <img src="{{ 'family-roots.png' | asset_url }}" alt="McClure's Pickles Family Heritage Recipe Photo">
           </div>
           <div class="small-11 medium-6 columns small-centerd medium-uncentered">
              <p class="pclass">the rooted</p>
              <h2>beginnings</h2>
              <p>In 2006, using our great grandmother Lala's recipe, we started McClure's. We grew up in Michigan making pickles every summer with our family. Bob having moved away to New York working as an actor and Joe pursuing a career in classical guitar and a PhD remained in Detroit. We decided to dust off the old family recipe and give it a shot as a business and started making the original pickle recipe in Brooklyn, NY and Detroit, MI. We continued to grow the business and in 2009 brought all manufacturing back to Michigan (one of the largest cucumber growers in the US) along with a partner warehouse in New York. We love meeting people from around the globe who share their family stories with us and where they've seen our products.</p>
              <hr>
           </div>
        </div>
        <div class="callout">
           <div class="row">
               <div class="small-11 medium-12 columns small-centered">
                  <div class="vac">
                     <div class="va">
                        <h2>Growing up, we never realized how influential pickles would be in our lives</h2>
                     </div>
                  </div>
               </div>
           </div>
        </div>
     </div>
     
     <div id="fresh">
        <div class="row">
           <div class="small-11 medium-12 small-centered columns">
               <p class="pclass2">keeping it</p>
               <h2>fresh</h2>
           </div>
           <div class="small-11 medium-6 columns small-centered medium-uncentered">
              <p>We use as much local produce as possible when it is in season and when it's not, we call up the farms and speak directly with the growers to know where our produce is coming from and how it is being grown making sure we are getting some of the best, freshest produce available. Every jar is hand packed by one of our talented team members.  We’re happy that after so many years, we can bring our family recipe, to yours.</p>
           </div>
           <div class="small-11 medium-6 columns small-centered medium-uncentered">
              <p>Our products are all-natural, gluten-free (pickles, relish, bloody mary, all-natural chips, brine), and kosher certified (Michigan Kosher Supervisors, OU).</p>
           </div>
        </div>
        <div class="row flourish">
           <div class="small-11 medium-12 columns small-centerd">
              <hr>
              <hr>
              <img src="{{ 'ico-flourish.png' | asset_url }}" alt="Icon Flourish">
           </div>
        </div>
     </div>
     
     <div id="video">
        <div class="vac">
           <div class="va">
             <div class="flex-video widescreen vimeo">
             	<a href="#" data-reveal-id="md-box_1"><img src="{{ 'vid-sign.png' | asset_url }}" alt="McClure's Family Video Play"></a>
             </div>
           </div>
        </div>
     </div>
     
     <div id="people">
        <div class="row">
           <div class="small-11 medium-12 columns small-centered medium-uncentered">
             {% comment %} 
             <h4>a family ipsum</h4>
             {% endcomment %}
              <h2>the people</h2>
           </div>
        </div>
        <!-- Joe McClure Bio -->
        <div class="row bio-right">
            <div class="small-12 medium-6 columns">
               <img src="{{ 'joe-now.png' | asset_url }}" alt="JOE MCCLURE CO-OWNER">
            </div>
            <div class="small-12 medium-6 columns">
               <h3 class="hclass4">joe mcclure</h3>
               <p class="pclass3">co-owner</p>
               <p>Or as we like to call him Dr. Joe, because not only does he know what it takes to make fantastic specialty food deliciousness, he also holds a doctoral degree in physiology from Wayne State University. Around the shop, Joe oversees large-scale production, Midwest distribution and sales, and a number of other major stuff, including managing our 20,000sq foot plus production facility. He has lived in Hawaii and Tennessee - which makes for an interesting accent, is a classical musician, enjoys running, using a pizza stone, tuning into Ira Glass and the boys and girls from Radio Lab, and he's a huge fan of NPR's Tiny Desk Concerts.</p>
            </div>
        </div>
        
        <div class="row">
           <hr>   
        </div>
        
        <!-- Bob McClure Bio -->
        <div class="row bio-left">
          	<div class="small-12 medium-6 show-for-small-only  columns">
               <img src="{{ 'bob-now.png' | asset_url }}" alt="BOB MCCLURE CO-OWNER">
            </div>
            <div class="small-12 medium-6  columns color__const">
               <h3 class="hclass5">Bob mcclure</h3>
               <p class="pclass3">co-owner</p>
              <p>Prior to being a pickle packin' proprietor of goodness, Bob was an actor, living in Brooklyn with his wife Natalie and their son. He has performed in commercials for brands including: <a href="https://vimeo.com/43537789" ta>Visa</a>, <a href="https://vimeo.com/43537789">The NFL</a>, <a href="https://vimeo.com/53908872">Verizon</a>, <a href="https://vimeo.com/57034625">Time Warner</a>, <a href="https://vimeo.com/43537790">Staples</a>, <a href="https://vimeo.com/43537792">Quiznos</a> and has appeared in films such as Neil Jordan's: The Brave One with Jodie Foster and the Brass Teapot. His work can also be seen on <a href="https://www.youtube.com/user/theburgshow">The Burg</a> and <a href="https://vimeo.com/54991399">All's Faire</a>. Of course these days he's back in The D with his expanding family, helping grow the business each day at McClure's World Headquarters where he oversees business administration, key account management and brand development. He does still audition everyday for his kids who are his toughest reviewers.</p>
            </div>
            <div class="small-12 medium-6 show-for-medium-up  columns">
               <img src="{{ 'bob-now.png' | asset_url }}" alt="BOB MCCLURE CO-OWNER">
            </div>
        </div>
        
        <div class="row">
           <hr>   
        </div>
        
        <!-- Jennifer McClure Bio -->
        <div class="row bio-right">
           <div class="small-12 medium-6 columns">
               <img src="{{ 'mom-now.png' | asset_url }}" alt="JENNIFER MCCLURE MOM">
            </div>
            <div class="small-12 medium-6 columns">
               <h3 class="hclass4">Jennifer</h3>
               <p class="pclass3">a.k.a. Mom</p>
               <p>Jennifer started making pickles with the family recipe around the age of five with her father and has been canning ever since. She won 1st place at the Michigan State Fair in the 1970's for her corn relish and still jokes that husband Mike married her for the pickle recipe - which remains a secret to him after thirty-seven years of marriage. Aside from being the greatest Mom ever, she holds a degree in gerontology and is a Master Gardener. She is also a licensed massage therapist. At the shop, she handles all things pickle-related from putting garlic and dill into the jars to putting elbows into backs.</p>
            </div>
        </div>
        
        <div class="row">
           <hr>   
        </div>
        
        <!-- Bob McClure Bio -->
        <div class="row bio-left">
          	<div class="small-12 medium-6 show-for-small-only columns">
               <img src="{{ 'dad-now.png' | asset_url }}" alt="MIME DAD">
            </div>
            <div class="small-12 medium-6 columns">
               <h3 class="hclass5">Mike</h3>
               <p class="pclass3">a.k.a. Dad</p>
               <p>Mike is a twenty-five+ year veteran of the grocery and mass retail industries. Various management positions in store operations, advertising, sales and marketing, transportation and logistics, and general maintenance. His love of food and cooking make him an invaluable member of the McClure's leadership team. Semi-retired in 2006 he assists Bob and Joe in their endeavors with the business. As McClure's continues to grow his favorite thing to do, even after 30 years of doing it, is still to "put 'em in the jar."</p>
            </div>
            <div class="small-12 medium-6 show-for-medium-up columns">
               <img src="{{ 'dad-now.png' | asset_url }}" alt="Mike">
            </div>
        </div>
     </div>
  </div>
  
  <div class="row flourish">
     <div class="small-11 medium-12 columns small-centerd">
        <hr>
        <hr>
        <img src="{{ 'ico-flourish.png' | asset_url }}" alt="Icon Flourish">
     </div>
  </div>

  <div id="timeline-cta" style="padding-top: 50px;">
    <div class="row">
      <div class="small-12 columns text-center">
        <h4><a href="/pages/timeline.html" style="color:black;">Click Here To Check Out Our Interactive Timeline!</a></h4>
      </div>
    </div>
  	<img src="{{ 'timeline_cta.png' | asset_url }}" alt="Timeline Sep">
    
  </div>
  

	
  <div id="culture-city">
   
   <!--<div class="leftTimeline"><img src="{{ 'timeline_left.jpg' | asset_url }}"></div>
   <div class="rightTimeline"><img src="{{ 'timeline_right.jpg' | asset_url }}"></div>-->
    
     <div id="detroit">
        <div class="vac">
           <div class="va">
               <img src="{{ 'detroit-sign.png' | asset_url }}" alt="McClure's Pickles Detroit Michigan"> 
           </div>
        </div>
     </div>
     <div id="brooklyn">
         <div class="vac">
           <div class="va">
              <img src="{{ 'brooklyn-sign.png' | asset_url }}" alt="McClure's Pickles Brooklyn New York"> 
           </div>
        </div>
     </div>
     
  </div>


{{ page.content }}


<!-- model #1 -->
<div id="md-box_1" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <a href="#" target="_blank" class="button close-reveal-modal" tabindex="0"><i class="fa fa-times fa-x2"></i></a>
  <div class="row"> 	
	<div class="large-12 columns" id="vimeo_video">
   		
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/X9-AntIUrl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      <a class="close-reveal-modal" aria-label="Close" tabindex="0">Back to site</a>
    </div>
  
  </div>
</div>
<style>
/* custom css */
.small-12.medium-6.columns.color__const a,
  .small-12.medium-6.columns.color__const a:hover{
    color: #2B7591;
    background-color: #F4EEE9;
}
  #masthead.culture h1.ten_border_1 {
    -webkit-text-stroke: 5px black;
    text-stroke: 5px black;
}
  #masthead.culture .social.icon__strocke a {
/*     -webkit-text-stroke: 1px black;
    text-stroke: 5px black; */
    color:#000;
}
  @media(max-width:640px){
  #masthead.culture h1.ten_border_1 {
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}
  }
  
  .hidden_text{
  display:none;
  }
.hclass1
  {
    font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin: 2.5rem 0 0px 0;
    font-size: 1.5rem;
    font-family: "DINWebBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
  .hclass2
  {
    font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
    font-size: 4.5rem;
    font-family: "DINWebBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
  .hclass3
  {
    font-weight: normal;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 4.5rem;
    font-family: 'bobby_j_serif_regularregular';
	text-align: center;
  }
  .pclass
  {
    font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	font-size: 1.5rem;
    text-transform: uppercase;
	font-family: "DINWebBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0rem 0 0px 0;
  }
  .pclass2
  {
    font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	font-size: 1.5rem;
    text-transform: uppercase;
	font-family: "DINWebBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0rem 0 0px 0 !important;
    text-align:center;
  }
  .hclass4
  {
    font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	margin: 2.5rem 0 0px 0;
    font-size: 1.5rem;
    font-family: "DINWebBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align:left;
  }
   .hclass5
  {
    font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	margin: 2.5rem 0 0px 0;
    font-size: 1.5rem;
    font-family: "DINWebBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align:right;
  }
  .pclass3 {
    color: #E25B41;
    color: #B04733;
    background-color: #F4EEE9;
    margin-bottom: 1.25rem;
    font-family: "DINWebMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

</style>