<!-- Masthead -->
<div id="masthead" class="the_goods">  
  <div class="vac ">
    <div class="va">
      <img src="{{ 'thegoods_banner_top.png' | asset_url }}" alt="McClure's Shop">
      <h1>{{ page.title }}</h1>
      <img src="{{ 'thegoods_banner_bottom.png' | asset_url }}" alt="McClure's delicious">
    </div>
  </div>
  <hr class="double">
</div>

<ul id="the_goods_subnav" class="small-block-grid-3 medium-block-grid-4 large-block-grid-8 clearfix">
   <li>
    <a href="/products/pickles">
      <span class="vac">
        <span class="va">
          Pickles
        </span>
      </span>
    </a>
  <li>
    <a href="/products/combo-pack">
      <span class="vac">
        <span class="va">
          Combo Packs
        </span>
      </span>
    </a>
    <span class="the_goods_bubble"><img alt="Combo Packs" src="{{ 'mini_combo.jpg' | asset_url }}"></span>
  </li>
   <li>
    <a href="/products/bloody-mary-mix">
      <span class="vac">
        <span class="va">
          Bloody<br/>mary mix
        </span>
      </span>
    </a>
    <span class="the_goods_bubble"><img alt="Bloody mary mix" src="{{ 'mini_bloody.jpg' | asset_url }}"></span>
  </li>
  <li>
    <a href="/products/chips">
      <span class="vac">
        <span class="va">
          Pickle Flavored<br>Potato Chips
        </span>
      </span>
    </a>
    <span class="the_goods_bubble"><img alt="Pickle Flavored Potato Chips" src="{{ 'potato-chips-stripe-thumb.jpg' | asset_url }}"></span>
  </li>
  <li>
    <a href="/products/sauerkraut">
      <span class="vac">
        <span class="va">
          Sauerkraut
        </span>
      </span>
    </a>
    <span class="the_goods_bubble"><img alt="Sauerkraut" src="{{ 'mini_kraut.jpg' | asset_url }}"></span>
  </li>
<!--   <li>
    <a href="#">
      <div class="vac">
        <div class="va">
          Ready to Drink Bloody Mary
        </div>
      </div>
    </a>
    <span class="the_goods_bubble"><img alt="Ready to Drink Bloody Mary" src="{{ 'mini-rtd-bloody-mary.jpg' | asset_url }}"></span>

  </li> -->
  <li>
    <a href="/products/relish">
      <span class="vac">
        <span class="va">
          Relish
        </span>
      </span>
    </a>
    <span class="the_goods_bubble"><img alt="Relish" src="{{ 'mini_relish.jpg' | asset_url }}"></span>
  </li>
  <li>
    <a href="/collections/apparel">
      <span class="vac">
        <span class="va">
          Apparel<br/>&amp; non-edibles
        </span>
      </span>
    </a>
    <span class="the_goods_bubble"><img alt="Apparel &amp; non-edibles" src="{{ 'mini_shirt.jpg' | asset_url }}"></span>
  </li>
</ul>


<div id="the_goods_content">
  <div id="pack_goods_col" class="va">
    <a href="/products/chips" title="chips" aria-label="chips" role="link" description="chips" name="chips" value="chips" tab-navigation="19"><span class="h_ov hidden_text">potato chips</span>
     {% comment %} <img src="{{ 'potato-chips-stripe-new.jpg' | asset_url }}">{% endcomment %}
    <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/21_McClures_02-Asset-Recreation--07.jpg" alt="potato chips" rel="image" name="potato chips" value="potato chips" aria-label="potato chips">
    </a>
  </div>
  <div id="pickels_goods_col" class="va">
    <a href="/products/pickles" title="Pickles" aria-label="Pickles" role="link" description="Pickles" name="Pickles" value="Pickles" tab-navigation="20"><span class="hidden_text">Pickles</span>
    {% comment %}  <img src="{{ 'collections_pickles_banner.jpg' | asset_url }}">{% endcomment %}
      <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/21_McClures_02-Asset-Recreation--03.jpg" alt="Pickles" rel="image" name="Pickles" value="Pickles" aria-label="Pickles">
    </a>
  </div>
  <div id="bloody_goods_mary_col" class="va">
    <a href="/products/bloody-mary-mix" title="Bloodymary mary mix" aria-label="Bloodymary mary mix" role="link" description="Bloodymary mary mix" name="Bloodymary mary mix" value="Bloodymary mary mix" tab-navigation="21"><span class="h_ov hidden_text">Bloodymary</span>
      {% comment %} <img src="{{ 'collections_bloodymary_banner.jpg' | asset_url }}"> {% endcomment %}
    <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/21_McClures_02-Asset-Recreation--06.jpg" alt="Bloodymary" rel="image" name="Bloodymary" value="Bloodymary" aria-label="Bloodymary">
    </a>
  </div>
  <div id="sauerkraut" class="va">
    <a href="/products/sauerkraut" title="sauerkraut" aria-label="sauerkraut" role="link" description="sauerkraut" name="sauerkraut" value="sauerkraut" tab-navigation="22"><span class="h_ov hidden_text" >Sauerkraut</span>
      {% comment %} <img src="{{ 'collections_sauerkraut_banner.jpg' | asset_url }}"> {% endcomment %}
<!--       <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/21_McClures_02-Asset-Recreation--01.jpg"> -->
      <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/big-21_McClures_02_Asset_Recreation_-01.jpg" alt="Sauerkraut" rel="image" name="Sauerkraut" value="Sauerkraut" aria-label="Sauerkraut">
    </a>
  </div>
  <div id="relish_goods_col" class="va">
    <a href="/products/relish" title="relish" aria-label="relish" role="link" description="relish" name="relish" value="relish" tab-navigation="24"><span class="h_ov hidden_text">Relish</span>
      
      {% comment %}<img src="{{ 'collections_relish_banner.jpg' | asset_url }}">{% endcomment %}
    <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/21_McClures_02-Asset-Recreation--04.jpg" alt="Relish" rel="image" name="Relish" value="Relish" aria-label="Relish">
    </a>
  </div>
  <div id="combo_goods_col" class="va">
    <a href="/products/combo-pack" title="Combopack" aria-label="Combopack" role="link" description="Combopack" name="Combopack" value="Combopack" tab-navigation="25"><span class="h_ov hidden_text">Combopack</span>
     {% comment %} <img src="{{ 'collections_combopack_banner.jpg' | asset_url }}">{% endcomment %}
    <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/21_McClures_02-Asset-Recreation--05.jpg" alt="Combopack" rel="image" name="Combopack" value="Combopack" aria-label="Combopack">
    </a>
  </div>
  <div id="app_goods_col" class="va">
    <a href="/collections/apparel" title="apparel" aria-label="apparel" role="link" description="apparel" name="apparel" value="apparel" tab-navigation="26"><span class="h_ov hidden_text">apparel</span>
      
      {% comment %}<img src="{{ 'collections_banner_9.jpg' | asset_url }}">{% endcomment %}
    <img src="https://cdn.shopify.com/s/files/1/0930/6380/files/21_McClures_02-Asset-Recreation--02.jpg" alt="apparel" rel="image" name="apparel" value="apparel" aria-label="apparel">
    </a>
  </div>
</div>



<style>
  .hidden_text{
  display:none;
  }
</style>
