<div id="masthead" class="contest">  
    <div class="vac">
       <div class="va">
         <!-- <img src="{{ 'header-dorothy2.png' | asset_url }}" alt="McClure's Pickles Detroit &amp; Brooklyn"> -->
          <img src="{{ '' | asset_url }}" alt="">
        <!-- <h1>If Dorthy Michaels Had a Bloody Mary ...</h1>
         <img src="{{ 'keepintouch.png' | asset_url }}" alt="McClure's Pickle's Keep In Touch!"> -->
        
       </div>
    </div>
  </div>

  


<div id="masthead" class="contest2">  
  <center><h1><img src="{{ 'iftext.png' | asset_url }}" alt="McClure's Tootsie Contest"></h1></center>
    <div class="vac">
       <div class="va">
       
         
   
        
       </div>
    </div>
  </div>

  
  <hr class="double">

<style type="text/css">

.sg-question-title{"DINWebBlack", "Helvetica Neue", Helvetica, Arial, sans-serif !important}
</style>
  
  <!-- contest Information -->

  <div id="contest-container">
    <div class="row">
      <h4 style="line-height: 1em !important!; text-align: Center;">What Would Be In It?</h4>
      <h3 style="line-height: 1em !important!; text-align: Center; color: red;">this contest has ended</h3>
    <!--  <div class="small-11 medium-6 columns small-centerd medium-uncentered">
                 

       
        <p>Tootsie, the “funniest musical of the season”, tells the story of Michael Dorsey, an out-of-work actor willing to do anything for a job — even if it means playing way against type.</p>
        <CENTER><img src="{{ 'bloody-mary-photo-fanpic.png' | asset_url }}" alt="McClure's Bloody Mary Mix"></CENTER>
        <p>We want to know ... <em>“if Dorothy Michaels had a Bloody Mary, what would be in it?”</em> &nbsp;Tell us and you could <strong>WIN two tickets to see <a href="https://www.tootsiemusical.com/" target="_blank" style="color: red;">Tootsie The Musical</a> on Broadway</strong>, meet the cast, and take home McClure’s Blood Mary Mix!</p>
      
       
      </div>
      <div class="small-11 medium-6 columns small-centerd medium-uncentered">
       <img src="{{ 'bloody-mary-mixer.gif' | asset_url }}" alt="McClure's Bloody Mary Mix">
      
      </div>
      <div style="Clear: both;">&nbsp;</div>
        <h3 style="line-height: 1em !important!; text-align: Center;">tell us to win!</h3>
    </div>
-->
    <div class="row">
      <hr />
       <h4 style="line-height: 1em !important!; text-align: Center;">If Dorothy had a Bloody Mary, what would be in it?</h4>
          <hr class="double">
 <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.com/s3/5158199/mcclures-tootsie?__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><noscript><a href="https://try.surveygizmo.com/research">SurveyGizmo</a> - Market research insights that answer your biggest questions. <a href="https://www.surveygizmo.com/s3/5158199/mcclures-tootsie??jsfallback=true">Please take my survey now</a></noscript><style>.sg-survey{display:none; }</style> 
      
    </div>    
    <hr class="double">
    <div class="row" style="margin-top: 1em;">
     
     <h2 style="text-align: center;">GRAND PRIZE</h2>
      <h4><span style="color: red;">2 Tickets to <a href="https://www.tootsiemusical.com/" target="_blank" style="color: red;">Tootsie<span style="font-size:small;vertical-align: super;">&reg;</span></a> on Broadway!</span><br/>Meet & greet with cast <span style="color: red;">+</span> A Year of M<span style="font-size:small;">c</span>Clure's Bloody Mary Mix!</h4>
       <h3 style="text-align: center;">(4) RUNNER-UP PRIZES</h3>
      <h4><span style="color: red;">2 Tickets to <a href="https://www.tootsiemusical.com/" target="_blank" style="color: red;">Tootsie<span style="font-size:small;vertical-align: super;">&reg;</span></a> on Broadway!</span></h4>
      <img src="{{ 'sparkle-tootsie.gif' | asset_url }}" alt="Tootsie on Broadway">
       <h3 style="text-align: center; padding: 12px;">A HIT on Broadway <a href="https://www.tootsiemusical.com/" target="_blank">&raquo; Learn more</a></h3>
    </div>
    
   
    <a name="shareme"></a>
     <hr class="double">
    <!-- rafflecopter -->

<h4 style="color: red; text-align: center;">Share for more chances to win!</h4>
<a class="rcptr" href="http://www.rafflecopter.com/rafl/display/7785471714/" rel="nofollow" data-raflid="7785471714" data-theme="classic" data-template="" id="rcwidget_maarfany">a Rafflecopter giveaway</a>
<script src="https://widget-prime.rafflecopter.com/launch.js"></script>
    <!-- close rafflecopter -->
    
    
    <hr class="double">
     <br />
    <h4 style="text-align: center;"><a href="https://mcclures.com/pages/mcclures-content-rules" target="_blank">&raquo; Full Contest Rules</a></h4>
      <br />
       <hr class="double">
   
  <div id="ft-cta" class="products clearfix">
    <div class="row">
        <div class="vac">
          <div class="va">
            
            <h4>McClure's products are found at premium grocery and food stores throughout the country and internationally as well as online retailers and can help you complete your McClure's experience!</h4>
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-6 ">
              <li><a href="http://www.murrayscheese.com/" target="_blank">Murray’s<br> Cheese</a></li>
              <li><a href="http://www.kroger.com" target="_blank">Kroger</a></li>
              <li><a href="http://www.worldmarket.com" target="_blank">Cost Plus</a></li>
              <li><a href="http://www.wholefoods.com" target="_blank">Whole Foods Market</a></li>
              <li><a href="http://www.thefreshmarket.com" target="_blank">The Fresh Market</a></li>
              <li><a href="http://www.meijer.com" target="_blank">Meijer</a></li>
            </ul>
            <div>&nbsp;</div>
            <h3>Grocer Request Form</h3>
            <h4><a href="https://cdn.shopify.com/s/files/1/0930/6380/t/2/assets/McClures_Pickles_Grocer_Request_Form.pdf" target="_blank">Download PDF &raquo Print &raquo Take to your Grocery</a></h4>
         
           
          </div>
        </div>
    </div>
  </div>
    
    </div>
