<!-- Masthead -->
<div id="masthead" class="recipe">  
  <div class="vac ">
    <div class="va">
      <div class="top_bg">
      <img src="{{ 'recipes-fire-ico.png' | asset_url }}" alt="">
      <h1>{{ page.title }}</h1>
      <img src="{{ 'cookitup.png' | asset_url }}" alt="McClure's Pickle's Cook It Up!">
      <div class="social">
        <a href="{{ settings.facebook_url }}" target="_blank" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="{{ settings.twitter_url }}" target="_blank" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="{{ settings.instagram_url }}" target="_blank" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
      </div>
      </div>
    </div>
  </div>
</div>


<div id="recipe-container">
  <div class="recipe" id="gumbo">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>m<span style="font-size: 88%;">c</span>clure’s bloody mary gumbo</h2></div>
        <a href="#" data-reveal-id="md-box_1" aria-label="View Recipe:McClure’s bloody mary gumbo">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe::McClure’s bloody mary gumbo">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="bloodymary">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>m<span style="font-size: 88%;">c</span>clure's home-made bloody mary</h2></div>
        <a href="#" data-reveal-id="md-box_2" aria-label="View Recipe:McClure's home-made bloody mary">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure's home-made bloody mary">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="picklepizza">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>m<span style="font-size: 88%;">c</span>clure’s Pickled Pizza</h2></div>
        <a href="#" data-reveal-id="md-box_3" aria-label="View Recipe:McClure’s Pickled Pizza">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Pickled Pizza">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="marinade">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>m<span style="font-size: 88%;">c</span>clure’s Marinade</h2></div>
        <a href="#" data-reveal-id="md-box_4" aria-label="View Recipe:McClure’s Marinade">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Marinade">Submit Recipe</a>
      </div>
    </div>
  </div>
  <!-- new rmd recipes -->

  <div class="recipe" id="dillycheeseball">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Dilly Cheese Ball </h2></div>
        <a href="#" data-reveal-id="md-box_5" aria-label="View Recipe:McClure’s View Recipe">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s View Recipe">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="gazpachoshooters">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Gazpacho Shooters</h2></div>
        <a href="#" data-reveal-id="md-box_6" aria-label="View Recipe:McClure’s Gazpacho Shooters">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Gazpacho Shooters">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="bloodymarywingsauce">
    <div class="vac"><!--<a name="bloodymarywingsauce"></a>-->
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Bloody Mary Wing Sauce</h2></div>
        <a href="#" data-reveal-id="md-box_7" aria-label="View Recipe:McClure’s Bloody Mary Wing Sauce">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Bloody Mary Wing Sauce">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="picklecupcakes">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Pickles Cupcakes</h2></div>
        <a href="#" data-reveal-id="md-box_14" aria-label="View Recipe:McClure’s Pickles Cupcakes">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Pickles Cupcakes">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="bloodymarysaladdressing">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Bloody Mary Salad Dressing</h2></div>
        <a href="#" data-reveal-id="md-box_8" aria-label="View Recipe:McClure’s Bloody Mary Salad Dressing">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Bloody Mary Salad Dressing">Submit Recipe</a>
      </div>
    </div>
  </div>


  <!-- end new rmd recipes round 1 -->

  <!-- new rmd recipes round 2 -->
  <div class="recipe" id="bloodymaryslushie">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Bloody Mary Slushie</h2></div>
        <a href="#" data-reveal-id="md-box_9" aria-label="View Recipe:McClure’s Bloody Mary Slushie">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Bloody Mary Slushie">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="spicypartydip">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Spicy Party Dip</h2></div>
        <a href="#" data-reveal-id="md-box_10" aria-label="View Recipe:McClure’s Spicy Party Dip">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Spicy Party Dip">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="bloodymarybbqsauce">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Bloody Mary BBQ Sauce</h2></div>
        <a href="#" data-reveal-id="md-box_11" aria-label="View Recipe:McClure’s Bloody Mary BBQ Sauce">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Bloody Mary BBQ Sauce">Submit Recipe</a>
      </div>
    </div>
  </div>
  <!-- end new rmd recipes round 2 -->
  <!-- new rmd recipes round 3 -->
  <div class="recipe" id="pickleslushy">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Pickle Slushy</h2></div>
        <a href="#" data-reveal-id="md-box_12" aria-label="View Recipe:McClure’s Pickle Slushy">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Pickle Slushy">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="bloodymaryburger">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Bloody Mary Burger</h2></div>
        <a href="#" data-reveal-id="md-box_13" aria-label="View Recipe:McClure’s Bloody Mary Burger">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Bloody Mary Burger">Submit Recipe</a>
      </div>
    </div>
  </div>
  <!-- end new rmd recipes round 3 -->
  <!-- new rmd recipes round 4 -->

  <div class="recipe" id="coolranchpicklespears">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Cool Ranch Pickle Spears</h2></div>
        <a href="#" data-reveal-id="md-box_15" aria-label="View Recipe:McClure’s Cool Ranch Pickle Spears">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Cool Ranch Pickle Spears">Submit Recipe</a>
      </div>
    </div>
  </div>
  <div class="recipe" id="baconwrappedpickles">
    <div class="vac">
      <div class="va">
        <div class="bg_color"><h2>M<span style="font-size: 88%;">c</span>Clure’s Bacon-Wrapped Dill Pickles</h2></div>
        <a href="#" data-reveal-id="md-box_16" aria-label="View Recipe:McClure’s Bacon-Wrapped Dill Pickles">View Recipe</a>
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Recipe:McClure’s Bacon-Wrapped Dill Pickles">Submit Recipe</a>
      </div>
    </div>
  </div>

  <!-- end new rmd recipes round 4 -->
</div>

<div id="ft-cta" class="recipe">
  <div class="row">
    <div class="small-10 medium-8  small-centered columns">
      <div class="vac">
        <div class="va">
          <h3>GOT YOUR OWN RECIPE?</h3>
          <h4>SHARE IT.  SEND IT.  LOVE IT.</h4>
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="CONTACT US">CONTACT US</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- model #1 -->
<div id="md-box_1" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_1" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="large-4 columns">
      <img src="{{ 'recipe_lightbox-1.jpg' | asset_url }}" class="rep_img">
    </div>
    <div class="large-8 columns">
      <h2 id="modalTitle_1">McClure’s <br>bloody mary <br>gumbo</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Hey, who really has the time for making an authentic Creole recipe? This recipe is straight from the Big D. It's an easy, spicy gumbo recipe using our <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">Bloody Mary Mix</a> as the base.  Feel free to add some sausage and okra (ok, maybe not the okra).</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem"><b>Serves 2</b></li>
            <li role="listitem">32oz. jar <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">McClure's Spicy Bloody Mary Mix</a></li>
            <li role="listitem">1/4lb Peeled and Cooked Shrimp</li>
            <li role="listitem">1/2 cup Rice (Jasmine)</li>
            <li role="listitem">1/2 Avocado, thinly sliced</li>
            <li role="listitem">1/2 cup Sour Cream</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Cook rice as per directions in a small pot. After cleaning and peeling shrimp, In a pan, cook your shrimp thoroughly. In a separate medium pot, pour in the bloody mary mix and heat to simmer. Once rice is cooked, add to pot with simmering bloody mary and stir until mixed. Add shrimp. Heat until the mix just barely starts to bubble and continue stirring. As the product thickens, turn off the heat, serve in bowls, place avocado slices in bowl and add dollop of sour cream to each bowl.</li>
          </ul>
        </div>
      </div>
      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link11" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link21" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link31" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top" aria-label="Submit Your Recipe">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal" aria-label="Back To Recipes"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- model #2 -->
<div id="md-box_2" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_2" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'recipe_bloody.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s <br>home-made <br>bloody mary</h2>
      <ul role="list" class="steps_block">

        <li role="listitem">What?!? The grocery store just ran out of our <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">Bloody Mary Mix</a>, and you've got 10 friends coming over for brunch!?! Easy. Dust off the can of tomato juice from the back of your pantry, add the brine (that would be pickle juice) from any of our pickle flavors and the day is saved.  You <em>did</em> remember the vodka, didn't you?</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem"><b>Serves 4</b> depending on how big your glass is!</li>
            <li role="listitem">1 leftover jar of McClure's brine (after finishing pickles you should have about 1/2 jar of brine left from any 32oz jar of McClure's)</li>
            <li role="listitem">14-16oz tomato juice</li>
            <li role="listitem">black pepper</li>
            <li role="listitem">seasoning to taste (garlic powder, worchestshire sauce, etc.)</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Using the leftover brine from a jar of McClure's 32oz Spicy, Garlic, or Sweet & Spicy pickles, fill the rest of the jar with tomato juice. Add 2-3 dashes of black pepper and additional seasoning (garlic powder, etc.) to desired taste. Using the cap that came with the jar, place the lid back on the jar and tighten. Lightly shake/stir the jar to mix the ingredients. Pour into an 8oz glass over 1oz of ice, 1oz vodka and add a McClure's pickle for your garnish.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link12" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link22" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link32" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- model #3 -->
<div id="md-box_3" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_3" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'recipe_lightbox-3.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s <br>Pickled Pizza</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Make your pizza pop with a topping that's, well ... the tops. Diced and sliced, our pickles add that gourmet flavor to any pizza.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Your favorite pizza recipe</li>
            <li role="listitem">Your favorite pizza toppings</li>
            <li role="listitem">3 spears McClure's Spicy or Garlic Dill Pickles (diced)</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Using your favorite pizza recipe or pizza from a restaurant, have it warm and ready to serve. Dice into small cubes McClure's garlic dill or spicy spears and top them on your pizza. These make an excellent alternative to pepperoncini, olives, sun-dried tomatoes or go great hand-in-hand with them. Just dice and top on your pizza.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link13" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link23" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link33" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- model #4 -->
<div id="md-box_4" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_4" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'recipe_lightbox-4.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s <br>Marinade</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">First, eat all of the McClure's pickles out of the jar. Second, pour the brine over a couple of chicken breasts. Third, grill and ... enjoy! Or is that fourth? Anyways, our brine is the best way to give fish, chicken and even pork a tender and delicious flavor.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">leftover McClure's brine from garlic dill pickles</li>
            <li role="listitem">2 all natural chicken breasts</li>
            <li role="listitem">(1) 1 gallon plastic bag</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Using the remaining brine, garlic and dill from a jar of McClure's garlic dill spears, in a 1 gallon plastic bag place your clean and refrigerator thawed chicken breasts in the bag and pour the brine over them. Seal the bag and refrigerate for 6 hours. Fire up the grill, discard the liquid from the bag and place your chicken on the grill. Cook thoroughly and place on clean plate. The brine soaks into the chicken creating a very tender, flavorful and juicy meal.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link14" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link24" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link34" role="link"><i class="fa fa-paper-plane" aria-label="Contact"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #5 -->
<div id="md-box_5" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_5" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'dilly-cheeseball.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s <br>Dilly Cheese Ball</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">This isn't your grandma's cheese ball recipe - it's actually, our grandma's recipe -  but anyway, your party just got dilled a new favorite. Shhhh, don't tell grandma, but the secret is adding our <a href="https://mcclures.com/products/relish" target="_blank">Dill Pickle Relish</a> to the mix.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">1 PACKAGE (8 OZ.) CREAM CHEESE, SOFTENED</li>
            <li role="listitem">1 CUP <a href="https://mcclures.com/products/relish" target="_blank">MCCLURE’S DILL PICKLE RELISH</a> (DRAINED) </li>
            <li role="listitem">¼ CUP CHOPPED ONION</li>
            <li role="listitem">1 ½ CUP OF SHREDDED CHEDDAR CHEESE</li>
            <li role="listitem">1 TBSP. WORCESTERSHIRE SAUCE</li>
            <li role="listitem">2 TBSP. MAYONNAISE</li>
            <li role="listitem">2 TBSP. MINCED PARSLEY</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Mix the first six ingredients together until the cream cheese mixture is soft. Shape the mixture into a ball and wrap it in plastic. </li>
            <li role="listitem">Refrigerate the ball for 4-5 hours. Sprinkle the ball with parsley and serve with crackers.</li>
            <li role="listitem">For a party tray guests will really love, serve alongside McClure’s Dill Pickles!</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link15" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link25" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link35" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #6 -->
<div id="md-box_6" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_6" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'gazpacho-shooters2.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s <br>Gazpacho Shooters</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Leave the bowls in the cupboard. We've got a unique way to enjoy your gazpacho. Shoot 'em or sip 'em ... it's your choice and our recipe.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">MCCLURE’S SPICY <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">BLOODY MARY MIX</a></li>
            <li role="listitem">1 DICED TOMATO</li>
            <li role="listitem">2 CUCUMBERS, DICED</li>
            <li role="listitem">1 RED ONION</li>
            <li role="listitem">HANDFUL OF CILANTRO LEAVES</li>
            <li role="listitem">2 TBSP. OLIVE OIL</li>
            <li role="listitem">1 1/2 TSP. RED WINE VINEGAR</li>
            <li role="listitem">SALT, TO TASTE</li>
            <li role="listitem">PEPPER, TO TASTE</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Blend to reach a smooth consistency.</li>
            <li role="listitem">Pour into small shot glasses and serve.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link16" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link26" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link36" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #7 -->
<div id="md-box_7" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_7" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'chicken-wings.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s <br>Bloody Mary Wing Sauce</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Over the years,  we visited a lot of bars to taste test wing sauce recipes. Believe us, that's a lot of wings and things.  It's how we settled on our sauce. A little of this, a little of that ... and a whole a lot of our tasty <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">Bloody Mary Mix</a>.  Sweet and sassy ... just like the barmaid at that hole-in-the-wall on 8 Mile Road.
        </li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">3 LB. CHICKEN WINGS</li>
            <li role="listitem">1 TBSP. VEGETABLE OIL</li>
            <li role="listitem">CELERY SALT, TO TASTE</li>
            <li role="listitem">3 CUPS <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">MCCLURE’S SPICY BLOODY MARY MIX</a></li>
            <li role="listitem">2/3 CUP VODKA</li>
            <li role="listitem">3/4 CUP BROWN SUGAR</li>
            <li role="listitem">1/3 CUP HOT SAUCE</li>
            <li role="listitem">1 TBSP. HORESRADISH</li>
            <li role="listitem">1 TBSP. WORCESTERSHIRE SAUCE</li>
            <li role="listitem">JUICE OF ONE LEMON</li>
            <li role="listitem">KOSHER SALT</li>
            <li role="listitem">FRESHLY GROUND BLACK PEPPER</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Preheat oven to 425 degrees Farenheit.</li>
            <li role="listitem">In a large bowl, drizzle wings with oil. Season with celery salt and black pepper. Set aside.</li>
            <li role="listitem">In another large bowl, combine McClure’s Spicy Bloody Mary Mix, vodka, brown sugar, hot sauce, horseradish, Worcestershire sauce and lemon juice.</li>
            <li role="listitem">Whisk until fully mixed and season with salt and pepper. </li>
            <li role="listitem">Pour mixture over wings until they are fully coated. Cover the bowl with plastic wrap and let marinate in the refrigerator for at least one hour. 
            </li>
            <li role="listitem">Remove wings form the bowl with tongs and place on a large baking sheet and roast for 45 minutes, or until golden and crispy. </li>
            <li role="listitem">In a small saucepan over medium heat, add marinade and bring to a simmer until reduced by half.</li>
            <li role="listitem">When wings are ready, brush them with the thickened sauce and broil on high for 3-5 minutes.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link17" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link27" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link37" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- model #8 -->
<div id="md-box_8" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_8" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'salad-dressing.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s <br>Bloody Mary Salad Dressing</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">We whip up a batch of our salad dressing when mom stops by for dinner. See, mom, we do eat healthy green stuff ... once in a while. So spicy, the entree is green with envy.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">½ CUP MCCLURE’S SPICY <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">BLOODY MARY MIX</a></li>
            <li role="listitem">¼ CUP OLIVE OIL</li>
            <li role="listitem">2 TBSP. FRESH LEMON JUICE</li>
            <li role="listitem">1 TBSP. HORSERADISH</li>
            <li role="listitem">1 TSP. FRESHLY GROUND BLACK PEPPER</li>
            <li role="listitem">1 TSP. HOT SAUCE</li>
            <li role="listitem">¾ TSP. CELERY SALT</li>
            <li role="listitem">½ TSP. WORCESTERSHIRE SAUCE</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Whisk together McClure’s Spicy Bloody Mary mix, olive oil, lemon juice, horseradish, pepper, hot sauce, celery salt and Worcestershire sauce until well blended.</li>
            <li role="listitem">Store in refrigerator until ready to serve.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link18" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link28" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link38" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- model #9 -->
<div id="md-box_9" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_9" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'mcclures-bloody-mary-slushie.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Bloody Mary Slushie</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Remember when you were a kid and couldn't wait to go down to the corner store and get a slushie? Well, this ain't your childhood cold drink. Top it with a shot of vodka and let the good times roll ... again.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">3 OZ. VODKA (OPTIONAL)</li>
            <li role="listitem">8 MEDIUM, RED TOMATOES</li>
            <li role="listitem">¼ CUP SHREDDED BASIL LEAVES</li>
            <li role="listitem">1 OZ. MCCLURE’S <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">BLOODY MARY MIX</a></li>
            <li role="listitem">CHOPPED CELERY LEAVES</li>
            <li role="listitem">½ CUP TOMATO JUICE</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Combine all ingredients (except for vodka) in a food processor.</li>
            <li role="listitem">Blend until the mixture is smooth, continuously adding tomato juice to smooth out the mixture.</li>
            <li role="listitem">Pour mixture into small baking dish and put in the freezer for about an hour.</li>
            <li role="listitem">Freeze until you see the mixture setting around the edges, stir and then freeze until the mixture is firm.</li>
            <li role="listitem">Let mixture sit in room temperature until you can scrape and divide mixture into glasses.</li>
            <li role="listitem">Pour vodka (or tomato juice) over the mixture and enjoy!</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link19" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link29" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link39" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- model #10 -->
<div id="md-box_10" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_10" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'mcclures-spicy-party-dip.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Spicy Party Dip</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">We should call this dip, “pretty in pink”. The cream cheese makes it rich and creamy ... our <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">Bloody Mary Mix</a> makes you want to call your high school crush.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">1/2 CUP MCCLURE’S SPICY <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">BLOODY MARY MIX</a></li>
            <li role="listitem">1/3 CUP MAYONNAISE</li>
            <li role="listitem">3 CUPS CREAM CHEESE</li>
            <li role="listitem">CHOPPED CHIVES</li>
            <li role="listitem">PITA CHIPS, RAW VEGGIES OR CRACKERS</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Mix together McClure’s Spicy Bloody Mary Mix, mayonnaise, cream cheese and chives in a food processor until well blended.</li>
            <li role="listitem">Serve with pita chips, raw veggies or crackers.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link110" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link210" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link310" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #11 -->
<div id="md-box_11" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_11" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'mcclures-bloody-mary-bbq-sauce.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Bloody Mary BBQ Sauce</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">We're not saying our rib sauce is award-winning, but we <em>are</em> saying it'll beat the pants off of your neighbors' bland ketchup-based sauce. The sauce secret? McClure's <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">Spicy Bloody Mary Mix</a> ... in the mix.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">1 ½ CUPS MCCLURE’S SPICY <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">BLOODY MARY MIX</a></li>
            <li role="listitem">1 TBSP VEGETABLE OIL</li>
            <li role="listitem">8 OZ TOMATO JUICE</li>
            <li role="listitem">1 SMALL ONION, DICED</li>
            <li role="listitem">1 CLOVE GARLIC, MINCED</li>
            <li role="listitem">¾ CUP BROWN SUGAR</li>
            <li role="listitem">¾ CUP KETCHUP</li>
            <li role="listitem">1 TSP WORCESTERSHIRE SAUCE</li>
            <li role="listitem">¼ CUP ORANGE JUICE</li>
            <li role="listitem">½ CUP WATER</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Heat oil in a medium saucepan over medium heat.</li>
            <li role="listitem">Add onion and garlic, reduce heat to medium-low and cook until onions are soft and translucent.</li>
            <li role="listitem">Add the remaining ingredients and reduce heat to low. Let sauce simmer for 30 minutes, stirring occasionally. </li>
            <li role="listitem">Pour mixture into a blender and puree until smooth.</li>
            <li role="listitem">Serve with chicken, quesadillas, steak, turkey, etc. and enjoy!</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link111" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link211" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link311" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #12 -->
<div id="md-box_12" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_12" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'mcclures-pickle-slushy.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Pickle Slushy</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Cool down and pucker up with this summer treat! Only for real pickle lovers!</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">1 Jar MCCLURE’S <a href="https://mcclures.com/products/pickles" target="_blank">Garlic and Dill Pickles</a></li>
            <li role="listitem">½ jar of pickle juice</li>
            <li role="listitem">½ shot of lemon syrup </li>
            <li role="listitem">½ shot of lime syrup </li>
            <li role="listitem">Ice</li>
            <li role="listitem">Lemon lime soda </li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Fill blender with ice.</li>
            <li role="listitem">Add the lemon syrup, lime syrup and pickle juice.</li>
            <li role="listitem">Pour in the soda (personal preference with the amount).</li>
            <li role="listitem">Blend until the consistency is slushy.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link112" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link212" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link312" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #13 -->
<div id="md-box_13" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_13" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'mcclures-bloody-mary-burger.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Bloody Mary Burger</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Nobody wants a bland burger.  Kick your grilling up a notch with this spicy, savory showcase of beef and <a href="https://mcclures.com/products/bloody-mary-mix" target="_blank">Bloody Mary Mix</a>.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem">1/3 Cup MCCLURE’S <a href="https://mcclures.com/products/pickles" target="_blank">Bloody Mary Mix</a></li>
            <li role="listitem">2 lbs. of ground beef</li>
            <li role="listitem">2 Egg Whites</li>
            <li role="listitem">1/4 tsp Celery Seeds</li>
            <li role="listitem">Salt and Pepper To Taste</li>
            <li role="listitem">MCCLURE’S <a href="https://mcclures.com/products/pickles" target="_blank">Bread and Butter Pickle Chips</a> (optional)</li>

          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">In large bowl, combine ground beef, Bloody Mary mix, celery seed, egg, salt and pepper.</li>
            <li role="listitem">Mix well and then form into 6 patties.</li>
            <li role="listitem">Fry or grill as desired.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link113" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link213" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link313" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #14 -->
<div id="md-box_14" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_14" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'mcclures-pickle-cupcakes.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Pickles Cupcakes</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">Have you ever felt sweet and sassy? We haven't either. But with our pickle cupcake recipe, you'll get close. We've infused the innocent cupcake with the tangy kick of our pickle brine and chopped pickles. Now give us a hug, and we kick you out the door.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem" style="list-style: none;"><em>Cupcakes</em></li>
            <li role="listitem">1/4 cup <a href="https://mcclures.com/products/pickles" target="_blank">McClure’s Bread and Butter Pickles</a>, finely chopped</li>
            <li role="listitem">1/8 cup McClure’s pickle brine</li>
            <li role="listitem">1 1/2 cups all-purpose flour</li>
            <li role="listitem">1 1/2 tsp. baking powder</li>
            <li role="listitem">1/2 tsp. salt</li>
            <li role="listitem">1/2 cup butter, soften</li>
            <li role="listitem">1/2 cup sugar</li>
            <li role="listitem">1/2 cup sour cream</li>
            <li role="listitem">2 eggs</li>
            <li role="listitem" style="list-style: none;">&nbsp;</li>
            <li role="listitem" style="list-style: none;"><em>Frosting</em></li>
            <li role="listitem">1/2 cup butter, softened</li>
            <li role="listitem">8 oz cream cheese, softened</li>
            <li role="listitem">2 cups powdered sugar</li>
            <li role="listitem">3 Tbsp. bourbon</li>
            <li role="listitem">McClure’s Pickle slices for garnish</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Preheat oven to 350 degrees </li>
            <li role="listitem">In a medium bowl, whisk together flour, baking powder, and salt. Set aside.</li>
            <li role="listitem">In a large bowl, mix butter and sugar until creamy. </li>
            <li role="listitem">Add the eggs and beat until combined. </li>
            <li role="listitem">Add sour cream and pickle juice and beat until evenly mixed.</li>
            <li role="listitem">Stir in flour mixture and chopped pickles until smooth.</li>
            <li role="listitem">Add liners to cupcake pan and scoop a 1/4 cup of the batter into each.</li>
            <li role="listitem">Bake for 20 to 25 minutes. Let cool completely before frosting. </li>
            <li role="listitem" style="list-style: none;"><strong>Frosting</strong></li>
            <li role="listitem">In a large bowl, beat butter and cream cheese until light and fluffy</li>
            <li role="listitem">Add powdered sugar, bourbon and beat until smooth.</li>
            <li role="listitem"> Spread frosting on cooled cupcakes, garnish each with a pickle.</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link114" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link214" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link314" role="link"><i class="fa fa-paper-plane" aria-label="Contact"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #15 -->
<div id="md-box_15" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_15" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'mcclures-cool-ranch-pickle-spears.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Cool Ranch Pickle Spears</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">We've taken the standard breaded pickle and made it cool again. Take the crumbs from the bottom of the bag of your favorite Cool Ranch tortilla chip and encrust our sweet and spicy pickle spears. Crunchy, creamy, and perfect for dill dippin'.</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem"><a href="https://mcclures.com/products/pickles" target="_blank">McClure’s Sweet & Spicy Pickles</a></li>
            <li role="listitem">1 1/2 cups Cool Ranch flavored Nacho Chips, finely crushed</li>
            <li role="listitem">2 tbsp. butter, melted</li>
            <li role="listitem">2 tbsp. fresh parsley, finely chopped </li>
            <li role="listitem">1 tsp. cayenne pepper</li>
            <li role="listitem">Salt and black pepper, to taste</li>
            <li role="listitem">1/2 cup all-purpose flour</li>
            <li role="listitem">2 large eggs</li>
            <li role="listitem">Ranch dressing, for dipping</li>
          </ul>
        </div>
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">directions</span>
          <ul role="list" class="steps_block">
            <li role="listitem">Preheat oven to 450°</li>
            <li role="listitem">Line a large baking sheet with parchment paper.</li>
            <li role="listitem">Beat eggs in a medium bowl.</li>
            <li role="listitem">Mix crushed chips, butter, parsley, cayenne, salt and pepper and spread on a large plate.</li>
            <li role="listitem">Add flour to a medium bowl.</li>
            <li role="listitem">Pat dry a pickle spear with paper towels, and dredge in flour.</li>
            <li role="listitem">Move pickle spear to the egg mixture bowl and coat liberally with beaten eggs.</li>
            <li role="listitem">Dredge the pickles in the crushed chip mixture until fulled coated.</li>
            <li role="listitem">Place on baking sheet and repeat for all spears.</li>
            <li role="listitem">Bake for 15 minutes or until golden brown, turning spears over after 8 minutes.</li>
            <li role="listitem">Serve warm with ranch dressing</li>
          </ul>
        </div>
      </div>

      <div class="row cta_block">
        <div class="large-3 columns ctaShare_block social">
          <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link115" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
          <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link215" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="{{ 'contact-us'.url }}" tabindex="0" id="link315" role="link" aria-label="Contact"><i class="fa fa-paper-plane"></i></a>
        </div>
        <div class="cta_btn submit large-4 large-offset-1 columns">
          <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="cta_btn fd_close large-4 columns">
          <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- model #16 -->
<div id="md-box_16" class="reveal-modal recipe" data-reveal aria-labelledby="md-box_16" aria-hidden="true" role="dialog">
  <div class="row">

    <div class="large-4 columns">
      <img src="{{ 'bacon-wrapped-dill-pickles.jpg' | asset_url }}" class="rep_img">
    </div>

    <div class="large-8 columns">
      <h2>McClure’s Bacon-wrapped Dill Pickles</h2>
      <ul role="list" class="steps_block">
        <li role="listitem">They say everything tastes better with bacon. Well, we say everything tastes BEST with our pickles. So, putting these two loved ingredients together will send your tastebuds on a journey you gotta take!</li>
      </ul>
      <div class="row set_steps"  data-equalizer data-equalizer-mq="large-up">
        <div class="large-6 columns panel" data-equalizer-watch>
          <span class="title_block">ingredients</span>
          <ul role="list" class="steps_block">
            <li role="listitem"><a href="https://mcclures.com/products/pickles" target="_blank">McClure’s Dill Pickle Spears</a></li>
            <li role="listitem">1 block cream cheese, softened</li>
            <li role="listitem">1 1/2 cups Cheddar cheese, shredded</li>
            <li role="listitem">1 tbsp. minced garlic</li>
            <li role="listitem">12 slices bacon, halved</li>
          </ul>
      </div>
      <div class="large-6 columns panel" data-equalizer-watch>
        <span class="title_block">directions</span>
        <ul role="list" class="steps_block">
          <li role="listitem">Preheat oven to 350°.</li>
          <li role="listitem">Line a large baking sheet with parchment paper.</li>
          <li role="listitem">Halve pickles and scoop out the centers.</li>
          <li role="listitem">In a small bowl, stir together cream cheese, cheddar, and garlic.</li>
          <li role="listitem">Spoon mixture into pickle halves and wrap with a half slice of bacon.</li>
          <li role="listitem">Transfer to the baking sheet and bake until the bacon is fully cooked and crispy, approx. 15 minutes.</li>
          <li role="listitem">Serve immediately.</li>
        </ul>
      </div>
    </div>

    <div class="row cta_block">
      <div class="large-3 columns ctaShare_block social">
        <a class="ssd_link st_facebook_large" href="https://www.facebook.com/mcclurespickles" tabindex="0" id="link116" role="link" aria-label="Facebook"><i class=" fa fa-facebook"></i></a>
        <a class="ssd_link st_twitter_large" href="https://twitter.com/mcclurespickles" tabindex="0" id="link216" role="link" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="{{ 'contact-us'.url }}" tabindex="0" id="link316" role="link"><i class="fa fa-paper-plane" aria-label="Contact"></i></a>
      </div>
      <div class="cta_btn submit large-4 large-offset-1 columns">
        <a href="{{ 'contact-us'.url }}/?id=1" target="_top">submit your recipe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
      <div class="cta_btn fd_close large-4 columns">
        <a href="#" class="close-reveal-modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back to recipes</a>
      </div>
    </div>
  </div>

</div>
</div>
{{ page.content }}
<style>
.cta_block .submit a {
  color: #FFFFFF;
  background-color: #168479;
}
.steps_block a
  {
  color: #c6391e !important;
  background-color: #F3EEE8;
  }
</style>