{% assign variants_type = 'single' %}


{% include 'html-product-header' %}

<hr class="double">

<div class="product" itemscope itemtype="http://schema.org/Product">
  
  {% include 'html-product-top' %}

  <div id="pdct_details" class="large-5 columns">
   <ul id="lightSlider" >
    <li>
        <img src="{{ 'product_olive_tapenade_slider_3.png' | asset_url }}">
      <span class="title_block"><img src="{{ 'tapenade-flavor-icon.png' | asset_url }}" class="type_icon">Green Olive Tapenade</span>
        <p>Spreadable and absolutely enjoyable! Perfect on a cracker with goat cheese.</p>
    </li>
    <li>
        <img src="{{ 'product_olive_tapenade_slider_1.png' | asset_url }}">
        <span class="title_block"><img src="{{ 'olives-flavor-icon.png' | asset_url }}" class="type_icon">Olives</span>
        <p>Savory and tangy, fully cured all-natural California grown olives with a McClure's twist! Great out of the jar, in salads, cocktails or with cheese and charcuterie.</p>
    </li>




   </ul>
  </div>
  
  <hr class="double">
   
  <div id="ft-cta" class="products clearfix">
    <div class="row">
        <div class="vac">
          <div class="va">
            <h3>Only at McClure's!</h3>
            {% comment %}
            <h4>Our products are found at premium grocery and food stores throughout the country and internationally as well as online retailers and can help you complete your McClure's experience!</h4>
            <ul class="small-block-grid-1">
              <li><span class="button_limiter"><a href="/" target="_blank">ONLY AT MCCLURE'S</a></span></li>
            </ul>
            {% endcomment %}
          </div>
        </div>
    </div>
  </div>
  

</div><!--#product -->


{% comment %}
  Adding support for product options.
{% endcomment %}

<script>
  
var selectCallback = function(variant, selector) {

  if (variant) {
    
    // Swap image.
    if (variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.product-photo-container img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    
    // Selected a valid variant that is available.
    if (variant.available) {
          
      // Enabling add to cart button.
      jQuery('#add').removeClass('disabled').prop('disabled', false).val({{ add_to_cart | json }});
    
      // If item is backordered yet can still be ordered, we'll show special message.
      if (variant.inventory_management && variant.inventory_quantity <= 0) {
        jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
        jQuery('#backorder').removeClass("hidden");
      } else {
        jQuery('#backorder').addClass("hidden");
      }
      
    } else {
      // Variant is sold out.
      jQuery('#backorder').addClass('hidden');
      jQuery('#add').val({{ sold_out | json }}).addClass('disabled').prop('disabled', true);       
    }
    
    // Whether the variant is in stock or not, we can update the price and compare at price.
    if ( variant.compare_at_price > variant.price ) {
      jQuery('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
    } else {
      jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
    }        

  } else {
    // variant doesn't exist.
    var message = '<span class="product-price">Sorry item is unavailable</span>';
	jQuery('#product-price').html(message);
    jQuery('#backorder').addClass('hidden');
    jQuery('#add').val({{ unavailable | json }}).addClass('disabled').prop('disabled', true);
  }

};
  
jQuery(function($) {

  new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });
  
  {% if product.available and product.options.size > 1 %}
  Shopify.linkOptionSelectors({{ product | json }});
  {% endif %}
  
  
  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

});

Shopify.Image.preload({{ product.images | json }}, 'grande');
Shopify.Image.preload({{ product.images | json }}, '1024x1024');
          
</script>